* {
    margin: 0%;
    padding: 0%;
}
::placeholder {
    color: var(--shad-color);
    font-size: 14px;
}
button {
    background-color: var(--sec-color);
    border: 1px solid white;
    padding: 6px;
    border-radius: 5px;
    color: var(--whi-color);
    font-size: 14px;
}
button:hover {
    background-color: white;
    color: var(--sec-color);
    border: 1px solid var(--sec-color);
    box-shadow: 0px 0px 10px var(--shad-color);
    text-transform: scale(1.03);
}
input {
    width: 100%;
    display: block;
    outline: 0px;
    border: 0ch;
    border-bottom: 1px solid var(--sec-color);
}
input:hover {
    z-index: 1;
    transform: scale(1.03);
}
input:focus {
    transform: scale(1.03);
}
input:read-write {
    font-size: 14px;
    color: var(--sec-color)
}
.main-box {
    min-height: 500px;
}
.sign-page-header {
    font-family: Mj_Ghalam;
    color: var(--main-color);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}
.sign-page-icon {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-color);
}
.sign-container {
    display: flex;
    justify-content: center;
}
.sign-box {
    justify-content: center;
}
.navs-pan {
    display: flex;
    justify-content: center;
}
.nav-link-edi {
    color: var(--main-color) !important;
}
.nav-link-edi:active {
    color: var(--sec-color);
}
.tab-content-edis {
    width: fit-content;
    display: flex;
    justify-content: center;
    margin-right: 0%;
}
.sign-in__form {
    text-align: center;
}
.sign-in__form input {
    margin-bottom: 20px;
}
.sign-in__form input:focus {
    outline: 0px;
}
.sign-in__fill {
    display: flex;
    align-items: center;
}
.sign-in__fill i {
    color: var(--sec-color);
    height: fit-content;
    margin-left: 8px;
}
.sign-in__forget {
    margin-top: 20px;
}
.forget-text {
    cursor: pointer;
    color: var(--main-color);
    font-size: 15px;
}

/* modal */
.modal-content {
    min-height: 260px;
}
.modal-header {
    display: flex;
    justify-content: center;
    border-bottom: 0ch;
}
.modal-header i {
    font-size: 40px;
    color: var(--main-color);
}
.modal-body p {
    text-align: center;
    color: var(--main-color);
}
.modal-body form {  
    text-align: center;
}
.modal-body form > input {
    width: 60%;
    text-align: center;
    margin: auto;
}
.modal-body form > button {
    margin-top: 20px;
} 
.modal-dialog {
    margin-top: 110px;
}

/* 404 */
.error404{
    font-size: 140px;
}
.fa-sad-tear {
    font-size: 100px;
}
.error-message {
    padding: 6%;
    text-align: center;
    color: var(--main-color);
}