{% extends 'registration/_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block main %}
    <main>
        <div class="container main-box">
            {% if form.non_field_errors %}
                <div class="error-message-ver2">
                    {% for error in form.non_field_errors %}
                        <span>{{error}}</span>
                        <button id="error__btn">متوجه شدم</button>
                    {% endfor %}
                </div>
            {% endif %}
            <h1 class="sign-page-header">به رنگ خاک</h1>
            <div class="sign-page-icon"><i class="fas fa-door-open"></i></div>
            <div class="sign-box">ورود</div>
            <div class="sign-container">
                <div class=" tab-content-edis">
                    <div id="sign-in" class="container "><br>
                        <div class="sign-in__inputs">
                            <form class="sign-in__form" method="POST">{% csrf_token %}
                                <div class="sign-in__fill">
                                    <i class="fas fa-user"></i>
                                    {{ form.username|attr:"placeholder:نام کاربری"}}
                                    {% if form.username.errors %}
                                        <div class="error-message-ver2">
                                            {% for error in form.username.errors %}
                                                <span>{{error}}</span>
                                                <button id="error__btn">متوجه شدم</button>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="sign-in__fill">
                                    <i class="fas fa-asterisk"></i>
                                    {{ form.password|attr:"placeholder:رمز عبور"}}
                                    {% if form.password.errors %}
                                        <div class="error-message-ver2">
                                            {% for error in form.password.errors %}
                                                <span>{{error}}</span>
                                                <button id="error__btn">متوجه شدم</button>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <button type="submit">ورود به سایت</button>
                            </form>
                            <div class="sign-in__forget">
                                <a class="forget-text" href="{% url 'password_reset' %}">رمز عبور خور را فراموش کرده اید؟</a>
                            </div>
                            <div class="sign-before">
                                <a href="">ثبت نام</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}


{% block foot %}
    <script src="{% static 'blog/js/errorMessage.js' %}"></script>
{% endblock %}