{% extends 'registration/_base.html' %}

{% block title %}ارسال لینک فعال سازی{% endblock %}

{% block main %}
        <div class="pass-change-done">
            <div class="sign-page-icon"><i class="fas fa-check"></i></div>
            <div class="pass-change-done__message">
                <p>
                    <h3>لینک فعال سازی منقضی شده است.</h3>
                    <h4><a href="/register"> دوباره امتحان کنید </a></h4> 
                </p>
            </div>
        </div>
{% endblock %}