{% extends 'registration/_base.html' %}

{% block title %}
عملیات با موفقیت انجام شد
{% endblock %}

{% block main %}
        <div class="pass-change-done">
            <div class="sign-page-icon"><i class="fas fa-check"></i></div>
            <div class="pass-change-done__message">
                <p class="py-2">گذرواژه با موفقیت تغییر یافت.</p>
            </div>
            <div>
                <a href="{% url 'blog:home_site' %}"><button>بازگشت به سایت</button></a>
            </div>
        </div>
{% endblock %}