{% extends 'registration/_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} بازیابی رمز عبور{% endblock %}

{% block main %}
    <main>
        <div class="container main-box">
            {% if form.non_field_errors %}
                <div class="error-message-ver2">
                    {% for error in form.non_field_errors %}
                        <span>{{error}}</span>
                        <button id="error__btn">متوجه شدم</button>
                    {% endfor %}
                </div>
            {% endif %}
            <h1 class="sign-page-header">گذرواژه جدید</h1>
            <div class="sign-page-icon"><i class="fas fa-door-open"></i></div>
            <div class="sign-container">
                <div class="tab-content tab-content-edis">
                    <div class="sign-in__inputs">
                        <form class="sign-in__form" action="" method="POST">{% csrf_token %}
                            {% if validlink %}
                                <div class="sign-in__fill">
                                    <i class="fas fa-at"></i>
                                    {{ form.new_password1|attr:"placeholder: رمز عبور جدید"}}
                                    {% if form.new_password1.errors %}
                                        <div class="error-message-ver2">
                                            {% for error in form.new_password1.errors %}
                                                <span>{{error}}</span>
                                                <button id="error__btn">متوجه شدم</button>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="sign-in__fill">
                                    <i class="fas fa-at"></i>
                                    {{ form.new_password2|attr:"placeholder: تکرار رمز عبور"}}
                                    {% if form.new_password2.errors %}
                                        <div class="error-message-ver2">
                                            {% for error in form.new_password2.errors %}
                                                <span>{{error}}</span>
                                                <button id="error__btn">متوجه شدم</button>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <button type="submit">تغییر رمز عبور</button>
                            {% else %}
                                <p class="myfont">لینک منقضی شده است. برای بازیابی رمز عبور دوباره <a style="color: red; font-weight: bold; font-family: Sahel;" href="{% url 'password_reset' %}">کلیک</a> کنید.</p>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block foot %}
    <script src="{% static 'blog/js/errorMessage.js' %}"></script>
{% endblock %}