{% extends 'registration/_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block main %}
    <main>
        <div class="container main-box">
            {% if form.non_field_errors %}
                <div class="error-message-ver2">
                    {% for error in form.non_field_errors %}
                        <span>{{error}}</span>
                        <button id="error__btn">متوجه شدم</button>
                    {% endfor %}
                </div>
            {% endif %}
            <h1 class="sign-page-header">به رنگ خاک</h1>
            <div class="sign-page-icon"><i class="fas fa-door-open"></i></div>
            <div class="sign-container">
                <div class="sign-box">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs navs-pan" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-link-edi" data-toggle="tab" href="#sign-in">ورود</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-edi active" data-toggle="tab" href="#sign-up">ثبت نام</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tab-content-edis">
                    <div id="sign-up" class="container tab-pane fade active"><br>
                        <div class="sign-in__inputs">
                            <form class="sign-in__form" action="" method="POST">{% csrf_token %}
                                <div class="sign-in__fill">
                                    <i class="fas fa-user"></i>
                                    {{ form.username|attr:"placeholder:نام کاربری"}}
                                    {% if form.username.errors %}
                                        <div class="error-message-ver2">
                                            {% for error in form.username.errors %}
                                                <span>{{error}}</span>
                                                <button id="error__btn">متوجه شدم</button>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="sign-in__fill">
                                    <i class="fas fa-at"></i>
                                    {{ form.email|attr:"placeholder:ایمیل"}}
                                    {% if form.email.errors %}
                                        <div class="error-message-ver2">
                                            {% for error in form.email.errors %}
                                                <span>{{error}}</span>
                                                <button id="error__btn">متوجه شدم</button>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="sign-in__fill">
                                    <i class="fas fa-asterisk"></i>
                                    {{ form.password1|attr:"placeholder:رمز عبور"}}
                                    {% if form.password1.errors %}
                                        <div class="error-message-ver2">
                                            {% for error in form.password1.errors %}
                                                <span>{{error}}</span>
                                                <button id="error__btn">متوجه شدم</button>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="sign-in__fill">
                                    <i class="fas fa-redo-alt"></i>
                                    {{ form.password2|attr:"placeholder:تکرار رمز عبور"}}
                                    {% if form.password2.errors %}
                                        <div class="error-message-ver2">
                                            {% for error in form.password2.errors %}
                                                <span>{{error}}</span>
                                                <button id="error__btn">متوجه شدم</button>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <button type="submit">ثبت نام</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}


{% block foot %}
    <script src="{% static 'blog/js/errorMessage.js' %}"></script>
{% endblock %}