{% extends 'blog/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/css/sign.css' %}">
{% endblock %}

{% block title %} اطلاعات کابری {% endblock %}

{% block main %}
    <main>
        <div class="container">
            {% if form.non_field.errors %}
                <div class="error-message-ver2">
                    {% for error in form.non_field.errors %}
                        <span>{{error}}</span>
                        <button id="error__btn">متوجه شدم</button>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="user-panel">
                <div class="user-panel-icon"><i class="fas fa-address-card"></i></div>
                <div class="user-panel__box">
                    <form class="user__form"  method="POST">{% csrf_token %}
                        <div class="sign-in__fill">
                            <i class="fas fa-user"></i>
                            {{form.username|attr:"placeholder:نام کاربری"}}
                            {% if form.username.errors %}
                                <div class="error-message-ver2">
                                    {% for error in form.username.errors %}
                                        <span>{{error}}</span>
                                        <button id="error__btn">متوجه شدم</button>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="sign-in__fill">
                            <i class="fas fa-at"></i>
                            {{form.email|attr:"placeholder:ایمیل "}}
                            {% if form.email.errors %}
                                <div class="error-message-ver2">
                                    {% for error in form.email.errors %}
                                        <span>{{error}}</span>
                                        <button id="error__btn">متوجه شدم</button>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="sign-in__toggle">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                            <span>مایل به دریافت مقاله ها به صورت ایمیل هستم</span>
                        </div>
                        <div class="user-panel__btn"><button type="submit">ذخیره</button></div>
                    </form>
                    <div class="user-panel__link">
                        <a href="{% url 'password_change' %}">تغییر رمز عبور</a>
                    </div>
                    <div class="user-panel__log-out">
                        <a class="" href="{% url 'logout' %}">خروج از حساب کاربری</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block foot %}
    <script src="{% static 'blog/js/errorMessage.js' %}"></script>
{% endblock %}