@import url(fonts.css);


/* VARIABLES */
:root {
    --main-color: #6B5041;
    --sec-color: #A16A38;
    --thi-color: #E0B586;
    --whi-color: #F2F2F2;
    --shad-color: #dfdbd9;
}

/* Base Styles */
*{
    box-sizing: border-box;
    font-family: Behdad;
    text-decoration: none;
    list-style-type: none;
    transition: 0.3s;
}
a {
    color: var(--main-color);
}
a:hover {
    color: var(--thi-color);
    text-decoration: none;
}
/* scroll bar */
    /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: var(--whi-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--sec-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
transition: 0.2s;
background: var(--thi-color);
}
/* Header */

.header-image {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    padding: 0 20%;
}
.header-image > img {
    width: 100%;
    max-width: 490px;
}
.nav-bar {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-bar ul li a {
    font-family: Mj_Ghalam;
    font-size: 18px;
}
.nav-bar ul li {
    margin-right: 3vw;
    margin-left: 3vw;
}
.nav-bar ul {
    margin-bottom: 0%;
    padding-right: 0%;
}
.nav-bar ul {
    display: flex;
}

/* Main Page Layout */

.about-artist {
    display: flex;
    align-items: center;
    margin-top: 5%;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 5%;
}
.about-artist__image {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about-artist__image img {
    border-radius: 5px;
    width: 100%;
    max-width: 140px;
}
.about-artist__description {
    text-align: right;
    font-size: 14px;
    padding: 1.5svw;
    color: var(--main-color);
}
/* Last posts */
.posts__header {
    text-align: center;
    font-size: 50px;
    font-family: Mj_Ghalam;
    color: var(--main-color);
    margin: 3.2%;
}
.new-post {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--sec-color);
    border-radius: 15px;
    padding: 2%;
    color: var(--main-color);
    transition: 0.5s;
    margin: 1.5%;
    margin-bottom: 3%;
}
.new-post:hover {
    box-shadow: 0px 0px 35px var(--shad-color);
}
.new-post__image {
    display: flex;
    justify-content: center;
    width: 130px;
    height: 130px;
    object-fit: cover;
}
@media only screen and (max-width: 767px) {
    .new-post__image img,.new-post__image {
      width: 100%;
    }
    .new-post__image img {
        object-fit: cover;
    }
  }
  @media only screen and (max-width: 993px) {
    .new-post__image {
      padding: 2%;
    }
  }
.new-post__image  img {
    border-radius: 10px;
}
.new-post__header a {
    font-size: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.new-post__date {
    font-size: 20px;
    color: var(--sec-color);
    font-family: Tunisia;
}
.new-post__date :first-child {
    margin-left: 5px;
}
.new-post__date span {
    font-family: Tunisia;
}
.new-post__detail div {
    text-align: right;
}
.new-post__page a i {
    font-size: 20px;
}
.new-post__page a i:hover {
    transform: scale(1.1);
}
.new-post__summery {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.posts__continue {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 2%;
}
.posts__continue a {
    font-family: Mj_Ghalam;
    color:  var(--main-color);
    font-size: 30px;
}
.posts__continue a:hover {
    color: var(--thi-color);
}
.posts__continue a:focus {
    color: #A16A38;
}
.quotation {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 10px;
}
.quotation q {
    text-align: center;
    font-family: Mj_Ghalam;
    color: var(--sec-color);
    font-size: 25px;
}
/* Paints */
.paints{
    margin-bottom: 5%;
}
.paints__row {
    margin: 0%;
}
.paints__row div {
    padding: 0%;
    margin: 0%;
}
.paints__row div img {
    width: 100%;
}
.paints__row div :hover {
    opacity: 70%;
}
/* Footer */
footer {
    padding: 1%;
    background-color: var(--main-color);
}
.user-box {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    padding-bottom: 4%;
    border-bottom: 0.2px solid var(--whi-color);
}
.user-box > a {
    display: flex;
    align-items: center;
    color: var(--whi-color);
}
.fa-sign-in-alt {
    margin-left: 5px;
    color: var(--whi-color);
}
.footer-links {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    border-bottom: 0.2px solid var(--whi-color);
}
.footer-links a {
    display: block;
    color: var(--whi-color);
    text-align: center;
    margin: 15px;
    font-size: 16px;
}
.uzgroup {
    display: flex;
    align-items: center;
    padding-top: 3%;
    direction: ltr;
    display: flex;
    justify-content: center;
    color: var(--whi-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.uzgroup a {
    color: var(--whi-color);
    margin-left: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fa-github {
    margin-left: 5px;
}


/* ------------------Articles page --------------------- */
.articles-box__header, .recommended-articles__header {
    text-align: center;
    color: var(--main-color);
    border-top: 1px solid var(--thi-color);
}
.recommended-articles__header span {
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 0px white;
    bottom: 19px;
}
.recommended-articles__text div {
    background-color: white;
    width: 150px;
    font-size: 25px;
}
.recommended-articles__header {
    margin-top: 50px;
}
.articles-box__header span {
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 0px white;
    bottom: 19px;
}
.articles-box__header {
    margin-top: 50px;
}
.articles-box__text div {
    background-color: white;
    width: 180px;
    font-size: 25px;
}
.articles-box__header {
    margin-bottom: 3%;
}
.recommended-articles {
    display: flex;
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 1.5%;
}
.recommend-post {
    text-align: center;
    border: 1px solid var(--sec-color);
    border-radius: 10px;
    padding: 0%;
    margin: 2%;
}
.recommend-post:hover {
    box-shadow: 0px 0px 35px var(--shad-color);
}
.recommend-post__image {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.recommend-post__image ~ h3 {
    margin-top: 3%;
}
.recommend-post .new-post__summery {
    color: var(--main-color);
    margin-left: 20px;
    margin-right: 20px;
}
.recommend-post__detail-box {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.recommend-post__detail-box {
    margin-bottom: 10px;
}
.articles-box {
    padding-right: 3.4%;
    padding-left: 3.4%;
}
/* slider */
.Slider {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 2.5%;
}
  .Slider__link {
    display: block;
    width: fit-content;
    height: fit-content;
}
  .Slider__link i {
    font-size: 45px;
}
  .Slider__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    width: 45px;
    height: 45px;
    font-family: Tunisia;
    text-align: center;
    font-size: 28px;
  }
  /* ------------------Article page --------------------- */
@media only screen and (max-width: 1199px) {
    .content__header-box {
        padding-right: 48px;
    }
    .article-top-header {
        padding-right: 15px;
    }
}

@media only screen and (max-width: 992px) {

    .article-top-header {
        padding-right: 45px;
    }
}
@media only screen and (max-width: 767px) {
    .content__header-box {
        text-align: center;
        padding-right: 0%;
    }
    .article-top-header {
        text-align: center !important;
        margin-top: 35px;
        padding-right: 15px;
    }
}
.content {
      margin-top: 50px;
      margin-bottom: 35px;
      padding-bottom: 15px;
      border-bottom: 1px solid var(--sec-color);
}
.content__header-box {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 50px;
}
.content__header-box img {
    border-radius: 10px;
}
.article-top-header .new-post__date {
    margin-bottom: 7px;
}
.fa-pen {
    margin-left: 5px;
}
.article-top-header h3 {
    color: var(--main-color);
}
.article-top-header:last-child {
    color: var(--main-color);
}
.article-top-header {
    height: fit-content;
    text-align: right;
}
.content__article {
    color: var(--main-color);
    text-align: right;
    line-height: 30px;
    padding: 0px 30px;
}
.content__btns-box i {
    font-size: 20px;
    color: var(--sec-color);
}
.content__btns-box {
    margin-top: 20px;
    margin-right: 40px;
    display: flex;
    justify-content: right;
}
.like-btn {
    height: fit-content;
}
.like-btn:hover {
    cursor: pointer;
}
.content__btns-box {
    display: flex;
    align-items: center;
    color: var(--main-color);
    margin-top: 30px;
}
.content__btns-box span span {
    font-family: Tunisia;
    color: var(--main-color);
}
.like-btn ~ span {
    font-size: 17px;
    margin-right: 10px;
}
.comments__header,
.recommended-articles-in-page__header {
    font-family: Mj_Ghalam;
    color: var(--main-color);
    font-size: 40px;
    text-align: right;
    padding-right: 6%;
    margin-bottom: 30px;
}
.comments__box {
    /* background-color: #E0B586; */
    height: 600px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--sec-color);
}
.recommended-articles-in-page {
    margin-bottom: 40px;
}
.recommended-articles-in-page__box a {
    display: block;
    font-size: 20px;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 7px;
}
  /* ------------------ Gallery page --------------------- */

.gallery__paint {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5%;
    width: 100%;
    flex-wrap: wrap;
}
.gallery-post {
    text-align: center;
    border: 1px solid var(--sec-color);
    border-radius: 10px;
    padding: 0%;
    margin: 2%;
    overflow: hidden;
}
.gallery-post:hover {
    box-shadow: 0px 0px 35px var(--shad-color);
}
.gallery__image {
    width: 100%;
    aspect-ratio: 2/1.3;
    object-fit: cover;
    border-radius: 10px;
}
.gallery__image:hover {
    opacity: 70%;
    transform: scale(1.06);
}
/* Paint Page */
.paint-post {
    margin: 4%;
    display: flex;
    justify-content: center;
}
.paint-post img {
    width: 100%;
}
.paint-detail {
    text-align: right;
    color:  var(--main-color);
    min-height: 500px;
    padding: 3%;
}
.paint-detail p {
    padding-right: 10px;
    padding-left: 10px;
}

/* Videos */
.video-icon {
    color: var(--main-color);
    font-family: Tunisia;
    font-size: 19px;
    display: flex;
    align-items: center;
}
.video-icon a {
    margin-left: 5px;
    height:21px;
}
/* Video Post */
.video-post {
    margin: 4%;
    height: 450px;
}
.video-post video {
    width: 100%;
    height: inherit;
}
.video-detail {
    text-align: right;
    color:  var(--main-color);
    min-height: 500px;
    padding: 3%;
}
.video-detail h3 {
    margin-bottom: 1rem;
}
.video-detail div {
    margin-bottom: 1rem;
}
.video-detail p {
    padding-right: 10px;
    padding-left: 10px;
}
/*  Biography */
.biography {
    min-height: 600px;
}
.biography h2 {
    font-family: Mj_Ghalam;
    font-size: 40px;
    text-align: center;
    color: var(--main-color);
    margin-top: 60px;
    margin-bottom: 10px;
}
.biography__box {
    color: var(--main-color);
    text-align: right;
    padding: 3%;
    padding-top: 0%;
    white-space: break-spaces;
}
/*  Contact Us */
.contactUs {
    min-height: 600px;
}
.contactUs h2 {
    font-family: Mj_Ghalam;
    font-size: 40px;
    text-align: center;
    color: var(--main-color);
    margin-top: 60px;
    margin-bottom: 10px;
}
.contactUs__box {
    color: var(--main-color);
    text-align: right;
    padding: 3%;
    padding-top: 0%;
    white-space: break-spaces;
}
  /* ------------------ User Panel --------------------- */
.user-panel {
    min-height: 400px;
}
.user-panel-icon {
    text-align: center;
    font-size: 50px;
    color: var(--main-color);
    margin-top: 40px;
    margin-bottom: 40px;
}
.user-panel__box {
    display: flex;
    justify-content: center;
}
.user__form {
    width: 60%;
    text-align: right;
}
.user__form input {
    margin-bottom: 20px;
}
.user-panel__btn {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
/* toggle */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--sec-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* toggle */
.sign-in__toggle {
    margin-top: 6px;
    display: flex;
    align-items: center;
}
.sign-in__toggle label {
    margin-bottom: 0%;
    margin-left: 5px;
}
.sign-in__toggle input {
    margin-bottom: 0%;
}
.sign-in__toggle label ~ span {
    color: var(--main-color);
    font-size: 14px;
}
.user-panel__link {
    margin-top: 4%;
    text-align: center;
}