{% extends 'blog/base.html' %}
{% load static %}
{% load comment_tags %}

{% block title %}مقاله | {{object.title}}{% endblock %}


{% block main %}
    <main>
        <div class="container">
            <section class="content">
                <div class="content__header-box row">
                    <div class="col-md-2">
                        <img class="content__image" src="{{object.image.url}}" alt="{{object.title}}">
                    </div>
                    <div class="article-top-header col-md-9">
                        <h3>{{object.title}}</h3>
                        <div class="new-post__date"><i class="far fa-calendar-alt"></i>تاریخ انتشار : <span>{{object.jpublish}}</span></div>
                        <div><i class="fas fa-pen"></i>نویسنده : <span>{{object.author.get_full_name}}</span></div>
                    </div>
                </div>
                <div class="content__article">
                    <!-- content will be here  -->
                    {{object.description|safe}}
                </div>
                    <div class="content__btns-box">
                        {% if user.is_authenticated %}
                            {% if user in object.likes.all %}
                                <a class="like-btn fas fa-heart" data-toggle="tooltip" title="این مقاله را نمی پسندم" href="{% url 'blog:like' object.pk %}"><span>{{object.likes.count}}</span></a>
                            {% else %}   
                                <a class="like-btn far fa-heart" data-toggle="tooltip" title="این مقاله را می پسندم" href="{% url 'blog:like' object.pk %}"><span>{{object.likes.count}}</span></a>
                            {% endif %}
                        {% else %}
                            <i class="like-btn far fa-heart" data-toggle="tooltip" title="برای لایک کردن ورود کنید"><span>{{object.likes.count}}</span></i>
                        {% endif %}
                        <span class="viewCounter">تعداد بازدید :<span>{{object.hits.count}}</span></span>
                    </div>
            </section>
            <section class="comments">
                <div class="comments__header">
                    نظرات
                </div>
                <div class="comments__box">
                    {% render_comments object request %}
                    {% include_bootstrap %} 
                </div>
            </section>
            <section class="recommended-articles-in-page">
                <div class="recommended-articles-in-page__header">مطالب پیشنهادی</div>
                <div class="recommended-articles-in-page__box">
                    <ul>
                    {% for art in article %}
                        <li><a href="{% url 'blog:article_detail' art.slug %}">{{art.title}}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block foot %}
    <script src="{% static 'blog/js/articleLike.js' %}"></script>
{% endblock %}