{% extends 'blog/base.html' %}

{% block title %}مقالات{% endblock %}

{% block main %}
<main>
    <div class="container">
        <div class="recommended-articles__header">
            <span class="recommended-articles__text"><div>مقالات پربازدید</div></span>
        </div>
        <div class="recommended-articles row">
            {% for art in article %}
                <div class="recommend-post col-md-5">
                    <a href="{% url 'blog:article_detail' art.slug %}">
                        <img class="recommend-post__image" src="{{art.image.url}}" alt="{{art.title}}">
                        <h3 class="new-post__header">{{art.title}}</h3>
                    </a>
                    <p class="new-post__summery">
                        {{art.short_des|striptags}}
                    </p>
                    <div class="recommend-post__detail-box">
                        <div class="new-post__date">
                            <i class="far fa-calendar-alt"></i>تاریخ انتشار : <span>{{art.jpublish}}</span>
                        </div>
                        <span>
                            <a href="{% url 'blog:article_detail' art.slug %}" data-toggle="tooltip" title="مشاهده ی مقاله"><i class="fas fa-scroll"></i></a>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="articles-box">
            <div class="articles-box__header">
                <span class="articles-box__text"><div>آخرین مقالات</div></span>
            </div>
            {% for article in object_list %}
                <article class="new-post row">
                    <div class="col-md-2 new-post__image"><img src="{{article.image.url}}" alt="{{article.title}}"></div>
                    <div class="col-md-9 new-post__detail">
                        <div class="new-post__header"><a href="{% url 'blog:article_detail' article.slug %}">{{article.title}}</a></div>
                        <div class="new-post__date"><i class="far fa-calendar-alt"></i>تاریخ انتشار : <span>{{article.jpublish}}</span></div>
                        <div class="new-post__summery">{{article.short_des|striptags}}</div>
                    </div>
                    <div class="col-md-1 new-post__page"><a href="{% url 'blog:article_detail' article.slug %}" data-toggle="tooltip" title="مشاهده ی مقاله"><i class="fas fa-scroll"></i></a></div>
                </article>
            {% endfor %}
        </div>
        {% if is_paginated %}
            <div class="Slider">
                {% if page_obj.has_previous %}
                    <a class="Slider__link signs-link"
                    href="{% url 'blog:article_list' page_obj.previous_page_number %}">
                        <i class="fas fa-caret-right"></i>
                    </a>
                {% endif %}
                    <div class="Slider__counter">{{ page_obj.number }}</div>
                {% if page_obj.has_next %}
                    <a class="Slider__link signs-link"
                    href="{% url 'blog:article_list' page_obj.next_page_number %}">
                        <i class="fas fa-caret-left"></i>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</main>
{% endblock %}