{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="fa">
<!-- By UZ Group -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta tags -->
    <meta name="description" content="وبسایت مجموعه آثار استاد پرویز کلانتری">
    <meta name="keywords" content="نقاشی ، پرویز کلانتری ، هنر">
    <meta name="author" content="UZ Group">
    <!-- og -->
    <meta property="og:title" content="زنده یاد پرویز کلانتری" />
    <meta property="og:url" content="parvizkalantari.ir" />
    <meta property="og:description" content="وبسایت مجموعه آثار استاد پرویز کلانتری" />
    <meta property="og:image" content="images/icon.png" />
    <meta property="og:type" content="Art Gallery" />
    <title>{% block title %}استاد پرویز کلانتری{% endblock %}</title>
    <!-- HeaderReferences -->
    <link rel="shortcut icon" type="image/png" href="{% static 'blog/images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="{% static 'blog/css/main-style.css' %}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <div class="header-image">
            <img src="{% static 'blog/images/border.png' %}" alt="زنده یاد استاد پرویز کلانتری">
        </div>
        <nav class="nav-bar sticky-top scroll">
            <ul>
                <li><a href="{% url 'blog:home_site' %}">خانه</a></li>
                <li><a href="{% url 'setting:biography' %}">بیوگرافی</a></li>
                <li><a href="{% url 'blog:gallery' %}">گالری آثار</a></li>
                <li><a href="{% url 'blog:article_list' %}">آخرین مطالب</a></li>
                <li><a href="videos.html">فیلم</a></li>
            </ul>
        </nav>
    </header>
    {% block main %}
        <!-- main -->
    {% endblock %}
    <footer>
        <div class="container">
            <div class="user-box">
                <a href="sign-in.html"><i class="fas fa-sign-in-alt"></i>
                    ورود / ثبت نام
                </a>
            </div>
            <div class="footer-links">
                <div class="co--md-4">
                    <a href="{% url 'blog:home_site' %}">خانه</a>
                    <a href="{% url 'setting:biography' %}">بیوگرافی</a>
                </div>
                <div class="co--md-4">
                    <a href="{% url 'blog:article_list' %}">آخرین مطالب</a>
                    <a href="videos.html">فیلم</a>
                </div>
                <div class="co--md-4">
                    <a href="{% url 'blog:gallery' %}">گالری آثار </a>
                    <a href="{% url 'setting:contact_us' %}">ارتباط با ما</a>
                </div>
            </div>
            <div class="uzgroup">
                Copyright : <a href="https://github.com/UZ-Group" target="_blank" data-toggle="tooltip"
                    title="UZ Group">
                    UZ group<i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </footer>
</body>
<!-- FooterReferences -->
<script src="{% static 'blog/js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'blog/js/script.js' %}"></script>

</html>