{% extends 'blog/base.html' %}
{% load static %}

{% block main %}
<main>
    <div class="container">
        <div class="row about-artist">
            <div class="about-artist__image  col-md-2"><img src="{{setting.image.url}}"
                    alt="استاد پرویز کلانتری"></div>
            <div class="about-artist__description  col-md-10">
               {{setting.bio}}
            </div>
        </div>
        <div class="posts">
            <div class="posts__header">آخرین مطالب</div>
            {% for article in articles %}
                <article class="new-post row aos-init" data-aos="fade-up-right" data-aos-once="true">
                    <div class="col-md-2 new-post__image"><img src="{{article.image.url}}" alt="{{article.title}}"></div>
                    <div class="col-md-9 new-post__detail">
                        <div class="new-post__header"><a href="{% url 'blog:article_detail' article.slug %}">{{article.title}}</a></div>
                        <div class="new-post__date"><i class="far fa-calendar-alt"></i>تاریخ انتشار :
                            <span>{{article.jpublish}}</span>
                        </div>
                        <div class="new-post__summery">{{article.short_des|striptags}}</div>
                    </div>
                    <div class="col-md-1 new-post__page"><a href="{% url 'blog:article_detail' article.slug %}" data-toggle="tooltip"
                            title="مشاهده ی مقاله"><i class="fas fa-scroll"></i></a></div>
                </article>
            {% endfor %}
            <div class="posts__continue"><a href="{% url 'blog:article_list' %}">دیگر مقاله ها ...</a></div>
        </div>
        <div class="quotation">
            <q>
                نقاشی باید نقاشی باشد، انشا که نیست. متاسفانه در ایران همه با عینک ادبیات به نقاشی نگاه می‌کنند. من
                این کار را نکردم. نقاشی کردم
            </q>
        </div>
    </div>
    <div class="paints">
        <div class="paints__row row">
            <div class="col-3 aos-init" data-aos="fade-up" data-aos-once="true"><img src="{% static 'blog/images/painting-1.jpg' %}" alt="painting"></div>
            <div class="col-3 aos-init" data-aos="fade-down" data-aos-once="true"><img src="{% static 'blog/images/painting-2.jpg' %}" alt="painting"></div>
            <div class="col-3 aos-init" data-aos="fade-up" data-aos-once="true"><img src="{% static 'blog/images/painting-3.jpg' %}" alt="painting"></div>
            <div class="col-3 aos-init" data-aos="fade-down" data-aos-once="true"><img src="{% static 'blog/images/painting-5.jpg' %}" alt="painting"></div>
            <div class="col-3 aos-init" data-aos="fade-up" data-aos-once="true"><img src="{% static 'blog/images/painting-6.jpg' %}" alt="painting"></div>
            <div class="col-3 aos-init" data-aos="fade-down" data-aos-once="true"><img src="{% static 'blog/images/painting-7.jpg' %}" alt="painting"></div>
            <div class="col-3 aos-init" data-aos="fade-up" data-aos-once="true"><img src="{% static 'blog/images/painting-8.jpg' %}" alt="painting"></div>
            <div class="col-3 aos-init" data-aos="fade-down" data-aos-once="true"><img src="{% static 'blog/images/painting-9.jpg' %}" alt="painting"></div>
            <div class="col-3 aos-init" data-aos="fade-up" data-aos-once="true"><img src="{% static 'blog/images/painting-10.jpg' %}" alt="painting"></div>
            <div class="col-3 aos-init" data-aos="fade-down" data-aos-once="true"><img src="{% static 'blog/images/painting-11.jpg' %}" alt="painting"></div>
            <div class="col-3 aos-init" data-aos="fade-up" data-aos-once="true"><img src="{% static 'blog/images/painting-12.jpg' %}" alt="painting"></div>
            <div class="col-3 aos-init" data-aos="fade-down" data-aos-once="true"><img src="{% static 'blog/images/painting-4.jpg' %}" alt="painting"></div>
        </div>
    </div>
</main>
{% endblock %}