{% extends 'blog/base.html' %}

{% block title %}ویدیو{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="video-post">
                <div class="h_iframe-aparat_embed_frame">
                    <span class="videoPad"></span>
                    <iframe src="{{object.link}}" title="{{object.title}}" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
                    </iframe>
                </div>
            </div>
            <div class="video-detail">
                <h3>{{object.title}}</h3>
                <div class="new-post__date"><i class="far fa-calendar-alt"></i>تاریخ انتشار : <span>{{object.jpublish}}</span></div>
                <p>{{object.description|safe}}</p>
            </div>
        </div>
    </main>
{% endblock %}